<!DOCTYPE html>
<html lang ="en">
    <head>
        <%- include ('../partials/encabezado'); %>
    </head>
    <body class="container">
        <main>
            <%- include('../vista') %>
        </main>
        <footer>
            <%- include ('../partials/pie') %>
        </footer>
    </body>
</html>